:root {
    --primary-color: #042a2b;
    --secondary-color: #5eb1bf;
    --text-color: #042a2b;
    --background-color: #cdedf6;
    --accent-color: #ef7b45;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 10px 50px;
}

header img {
    width: 150px;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Roboto Slab";
    font-weight: bold;
    padding: 10px 15px;
    background: var(--background-color);
    border-radius: 5px;
}

nav a:hover {
    background: var(--accent-color);
}

/* background color for entire page */
html {
    background-color: var(--background-color);
}

.herodiv h1 {
    text-align: center;
    background-color: var(--background-color);
    font-family: "Kanit";
    color: var(--text-color);
    font-size: xx-large;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50px;
    right: 30px;
    left: 30px;
    bottom: 50px;
    background: var(--background-color);
    border: 1px solid #000;
    padding: .5rem;
    box-shadow: 0 0 10px #000;
    opacity: 0.85;
    margin: 1rem auto;

}

.overlay img {
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid #000;
    width: 200px;
    height: auto;
}

.overlay p {
    color: var(--text-color);
}

h2 {
    color: var(--primary-color);
}

p {
    font-family: "Roboto Slab";
    font-size: 1.2em;
    color: var(--text-color);
}

/* remove underline from social media image links */
footer a img {
    text-decoration: none;
    display: inline-block;
}


footer {
    text-align: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
}

section img {
    display: block;
    width: 400px;
    margin: 10px auto;
}

h4 {
    color: var(--accent-color);
}