:root {
    --heading-background-color: #0a2abdc7;
    --heading-text-color: #ffffff;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0, 0, 14);
}

nav {
    background-color: var(--heading-background-color);
    padding: 1rem;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 10px;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main {
    align-items: center;
    gap: 20px;
    font-family: var(--heading-font);
}

main img {
    width: 200px;
    height: auto;
    border: var(--border);
    padding: 2px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: var(--border);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
    font-family: var(--heading-font);

}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}